.ft-autocomplete-container {
  display: flex;
  gap: 8px;
}

.ft-autocomplete-container.label-pos-top {
  flex-direction: column;
}

.ft-autocomplete-container.label-pos-left {
  align-items: center;
  flex-direction: row;
}

.ft-autocomplete-container > .ft-autocomplete-label {
  color: var(--black-750);
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
}

.ft-autocomplete-container > .ft-input-wrapper {
  flex: 1;
}

.ft-autocomplete-container > .ft-input-wrapper .MuiInputBase-root {
  background: var(--white);
  border-radius: 8px;
  height: 40px;
  padding: 8px 12px;
}

.ft-autocomplete-container > .ft-input-wrapper .MuiInputBase-root > .MuiInputBase-input {
  font-size: 14px;
  padding: 0;
}

.ft-autocomplete-container > .ft-input-wrapper .MuiInputBase-root > fieldset {
  border: 1px solid var(--black-250);
  border-radius: 8px;
}

.ft-autocomplete-container > .ft-input-wrapper .MuiInputBase-root:hover > fieldset {
  border-color: var(--gray-400);
}

.ft-autocomplete-container > .ft-input-wrapper .MuiInputBase-root:focus-within > fieldset {
  border-color: var(--gray-400);
}


.ft-autocomplete-container.ft-input-disabled > .ft-input-wrapper .MuiInputBase-root {
  background: var(--gray-200);
}

.ft-autocomplete-container.ft-input-disabled > .ft-input-wrapper .MuiInputBase-root:hover > fieldset {
  border-color: var(--black-250);
}


.ft-autocomplete-container .ft-input-container {
  align-items: center;
  display: flex;
  position: relative;
}

.ft-autocomplete-container .ft-input-container > .ft-btn-clear {
  height: 24px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
}

.ft-autocomplete-container.ft-autocomplete-error-state > .ft-input-wrapper .MuiInputBase-root > fieldset {
  border-color: var(--red);
}

.ft-input-error {
  color: var(--red);
  font-size: 13px;
  font-weight: 500;
  margin-top: 4px;
}
