body {
  background-color: #f4f4f4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.title {
  margin-block: 1rem; 
}

.subtitle {
  margin: 1.5rem 0 1rem;
}

.section-container {
  margin-block: 2rem;
}
