* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
}

code {
  font-family: "Roboto Mono", monospace !important;
}


:root {
  --white: #FFF;
  --gray-400: #959595;
  --gray-100: #EAEAEA;

  /* --- black pallete --- */
  --black-900: #131927;
  --black-800: #424752;
  --black-700: #5A5E68;
  --black-600: #71757D;
  --black-500: #898C93;
  --black-400: #A1A3A9;
  --black-300: #B8BABE;
  --black-200: #D0D1D4;
  --black-100: #E7E8E9;

  /* --- blue pallete --- */
  --blue-900: #2A3948;
  --blue-800: #263A61;
  --blue-750: rgba(20, 61, 199, 0.51);
  --blue-700: #1D3B94;
  --blue-600: #143DC7;
  --blue-500: #103EE0;
  --blue-400: #0B3EF9;
  --blue-350: #E1E7FE;
  --blue-300: #E1DEFF;
  --blue-200: #E6ECFF;
}
